html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
  background: white;
  display: block;
  touch-action: none;
}

#toolbar {
  position: fixed;
  top: 10px;
  left: 10px;
  background: #eee;
  padding: 6px;
  border-radius: 6px;
  z-index: 10;
  font-size: 15px;
}

#users {
  position: fixed;
  top: 10px;
  right: 10px;
  background: white;
  padding: 6px;
  border-radius: 6px;
  font-size: 14px;
  z-index: 10;
}
